body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/* NAVBAR AREA */
.discoverybtn{
  border-radius: 0px !important;
  background-color: purple;
  font-weight: bold !important;
  margin-left:10px !important;
}

.discoverybtn a{

  font-weight: bold !important;
}
.tap-target{
  background-color: #35006794 !important;
}
#main-logo{
    height: 100%;
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}
#fox-logo{
    margin-left: 20px;
    height: 150%;
}

.mynav{
    font-family: 'Comfortaa', cursive;
    background-color: #0f0c98a6 !important;
}
.mybutton{
    margin-left: 10px;
    display: inline-block;
    background-color: black    ;
    border-radius: 0px;
}
.mybutton:hover{
    transform: scale(1.1);
}
#my-font{
    font-family: 'Comfortaa', cursive !important;
}
#nav_catbtn{
  font-weight: bold !important;
}
.logbut{
    background-color: #1b448e !important;
    border-radius: 0px !important;
    font-family: 'Comfortaa', cursive !important;
}
.logbut:hover{
    background-color: black !important;
    transition:0.7s;
    color:white !important;
}
.icon{
    float:right;
    display:none;
}
#bars{
    font-size: 60px !important;
}
.material-icons{
    font-size: 2vw !important;
}
.search-area{
    /* height: 80% !important ; */
    background:#00000080;
}
#search{
    height: 56px !important;
    overflow: hidden;
}
.dropdown-content.row{
    overflow: visible;
    width :70%;
    height: auto;
  }
.cat{
    font-size: 1.5vw !important;
}
.mynav li{
    text-align:center !important;
}
#dropdown1 a{
  color:purple !important;
}
.dropdown2 a{
    display: inline-block !important;
    color:#5e3089 !important;
}
/* navbar responsive */

@media only screen and (max-width: 992px) {
    .mynav a.icon{
        float:right !important;
        display:block;
        padding-right:5px;
    }
    .mybutton{
        display:block;
    }
    .mynavres .mybutton{
        display:none;
        
    }
    .mybutton:hover{
        transform: scale(1.01);
    }
    #logz{
        margin-top:20px;
    }
    #fox-logo,#main-logo{
        display:block;
        position: absolute;
        left:50px;
    }
    #main-logo{
        display:none;
    }
    #search-form{
        margin-left: 10px;
    }
}
.txtHelper{
    color:red !important;
    font-weight: bold !important;
}
/* CONTENT AREA */
/* SEARCH SECTION */
.content{
    height: inherit !important;
}
.search-section{
    height: 80vh;
    position: relative;
}
.search-section .poster{
    height: 100%;
    width: 100%;
    margin-top: -15px;
}
.poster{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column ;
    background-size: cover;
    background-position: center bottom; 
}
.banner{
    font-family: 'Righteous', cursive;
    padding:15px;
    background-color: #13002333;
    height: 65px;
    color:white;
    text-align: center;
}
.banner strong{
    font-size: 2.5vw;
}
.searchtitle{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color:white;
}
.searchtitle p{
    font-weight: normal;
    font-size: 20px;
}
/* end of search area */
/* tab index */
.tabmenu{
    height: 41px !important;
    margin-bottom: 10px !important;
}
.tabmenu li a{
    font-size: 1.5vw !important;
    font-family: 'Comfortaa', cursive;
    color:white !important;
    text-transform: capitalize;
}
.tabmenu li a:hover,a.active{
    color:white !important;
    background-color: rgb(57, 4, 80) !important;
}
.tabs .indicator {
  height: 3px !important;
    background-color:lightgreen !important;
} /*Color of underline*/

.suggest{
  margin-top:10px;
}
.suggest span,a{
  color:white !important;
}
.grid-item { 
    margin:20px;
    width: 200px;
    height: 200px;
 }
.grid-item--width2 { width: 400px; }
html { overflow-y: scroll !important; }

/* GALLERY */
.gallery {
    position: relative;
  }
  
  .gallery.gallery-collection .gallery-item {
    margin-bottom: 1px;
  }
  
  .gallery .gallery-item {
    margin-bottom: 1.5rem;
  }
  
  .gallery .gallery-item .card {
    margin: 0;
  }
  
  .gallery .gallery-horizontal .gallery-curve-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .gallery .gallery-horizontal .gallery-cover {
    height: 100%;
    width: auto;
    max-width: 50%;
  }
  
  .gallery .gallery-horizontal .gallery-header {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .gallery .gallery-expand.active {
    z-index: 9;
  }
  
  .gallery .gallery-expand.active .gallery-curve-wrapper {
    padding-top: 64px;
    cursor: default;
    box-shadow: none;
  }
  
  .gallery .gallery-expand.active .gallery-curve-wrapper .gallery-cover {
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-header,
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-body,
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-action,
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover {
    z-index: 1;
  }
  
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover {
    box-shadow: none;
    pointer-events: none;
  }
  
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover.hover {
    opacity: 0;
  }
  
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover.static {
    margin: 0;
  }
  
  .gallery .gallery-expand[data-fillscreen="true"] .gallery-curve-wrapper .gallery-cover .gradient {
    background: transparent;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
  }
  
  .gallery .gallery-expand .gallery-curve-wrapper {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gallery .gallery-cover {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    transition: top .5s;
    z-index: 2;
  }
  
  .gallery .gallery-cover.static {
    margin-left: 15%;
  }
  
  .gallery .gallery-cover.static img {
    min-width: 100%;
  }
  
  .gallery .gallery-cover img {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    min-width: 100%;
    width: auto;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .gallery .gallery-header {
    position: relative;
    padding: 20px;
    background-color: #fff;
    color: #444;
  }
  
  .gallery .gallery-header h1, .gallery .gallery-header h2, .gallery .gallery-header h3, .gallery .gallery-header h4, .gallery .gallery-header h5 {
    margin-top: 0;
  }
  
  .gallery .gallery-header p {
    color: #777;
  }
  
  .gallery .gallery-body {
    text-align: left;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    margin: 0 15%;
    background-color: #fff;
    z-index: 1;
  }
  
  .gallery .gallery-body .title-wrapper {
    margin-bottom: 30px;
  }
  
  .gallery .gallery-body .title-wrapper h1, .gallery .gallery-body .title-wrapper h2, .gallery .gallery-body .title-wrapper h3, .gallery .gallery-body .title-wrapper h4, .gallery .gallery-body .title-wrapper h5 {
    margin: 0 0 10px 0;
  }
  
  .gallery .gallery-body .title-wrapper .price {
    color: #777;
  }
  
  .gallery .gallery-body .description {
    font-size: 22px;
    font-weight: 300;
  }
  
  .gallery .gallery-action {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    right: 15%;
    z-index: 2;
  }
  
  .gallery .gallery-action .btn, .gallery .gallery-action .btn-large {
    margin-left: 10px;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: none;
  }
  
  .gallery .gallery-action .btn.active, .gallery .gallery-action .active.btn-large {
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: box-shadow 0.3s, -webkit-transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63);
    transition: transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63), box-shadow 0.3s;
    transition: transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63), box-shadow 0.3s, -webkit-transform 0.4s cubic-bezier(0.53, 0.01, 0.36, 1.63);
  }
  
  #placeholder-navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    transition: background-color .3s;
  }
  
  #placeholder-navbar .back-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  #placeholder-navbar .back-btn i {
    float: left;
    margin-right: 10px;
  }
  
  #placeholder-overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    opacity: 0;
    transition: opacity .3s;
    will-change: opacity;
  }
  
  #placeholder-overlay.visible {
    opacity: 1;
  }
  
  #placeholder-overlay:hover {
    opacity: .9;
    transition: opacity .6s;
  }
  
  /*********************************
   *    COMPONENT COMPATIBILITY    *
   *********************************/
  .gallery-body .carousel-wrapper {
    margin: 30px 0 20px -35px;
    width: calc(100% + 70px);
  }
  
  .gallery-body .carousel-wrapper .carousel {
    height: 200px;
  }
  
  .gallery-body .carousel-wrapper .carousel-item {
    opacity: 1 !important;
    width: 300px;
    height: 200px;
  }
  
  .nav-header .carousel {
    height: 100%;
  }
  
  .nav-header .carousel .carousel-item {
    word-break: break-word;
  }
  
  .nav-header .carousel .indicators {
    height: 56px;
  }
  
  .nav-header .carousel .indicators .indicator-item {
    float: none;
  }
  
  @media only screen and (max-width: 992px) {
    .gallery .gallery-cover.static {
      margin: 0;
    }
    .gallery .gallery-body {
      width: 100%;
      margin: 0;
    }
    .gallery .gallery-action {
      right: 0;
    }
    .gallery-body .carousel-wrapper {
      margin: 30px 0 20px -15px;
      width: calc(100% + 30px);
    }
  }
  
  @media only screen and (max-width: 600px) {
    nav.nav-full-header .nav-header {
      height: calc(100% - 112px);
    }
    nav.nav-full-header ~ .nav-categories {
      top: -56px;
    }
    nav .categories-wrapper {
      height: 56px;
    }
    nav .nav-header h1 {
      font-size: 40px;
    }
    .gallery .gallery-expand.active .gallery-curve-wrapper {
      padding-top: 56px;
    }
  }
.cat_wall{
     /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

.cat_wall img{
    width: 97% !important;
    height: auto !important;
}
@media (max-width: 1200px) {
    #cat_wall {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #cat_wall {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #cat_wall {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #cat_wall {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }

  .card {
    position: relative;
    margin: 0.5rem 0 0.5rem 0 !important;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 3px;
}
.tabs-content.carousel.carousel-slider{
    height: 1200px !important;
}

/* Card component */
.info{
  position: absolute;
  transition: .5s ease;
  opacity: 0;
  bottom: 0px;
  left: 0px;
  width:97.8% !important;
  color:white;
  background-color: #000000a3;
  
}
.wall-card{
  position: relative;
}
.wall-card img{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  z-index: -100;
}
.wall-card .cardbut{
  padding:2px 4px;
  border-radius: 0px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.wall-card .c1{
  top: 50px;
  right: 10px;
}
.wall-card .c2{
  top: 50px;
  right: 50px;
}

.wall-card:hover img{
  transform: scale(1.02);
  -ms-transform: scale(1.1);
  opacity: 0.8;
}
.cardbut a i{
  font-size: 3.2vw !important;
}
.wall-card:hover .cardbut{
  
  z-index: 10;
  opacity: 1;
}
.wall-card:hover .info{
  opacity: 1;
  z-index: 10;
}
.ccprofile{
  background:#5e308a !important;
}
.card-content h4,p{
  color:white !important;
}
/* FOOTER SECTION */
.page-footer{
  padding-top: 2px !important;
  background-color:#5e308a;
}
.page-footer #fox-logo-footer{
  height: 80px;
}
.footer-copyright{
  background-color: #350263 !important;
}


/* PROFILE SECTION */
.profile_detail{
  margin-top:50px;
  background:#5e3089;
}
.profile_detail h1,h2,h3,h4,h5,h6,p,a{
  color: white !important;
}
.card-panel{
  background-color:#5e308a !important;
}
.card-panel>h1,h2,h3,h4,h5,h6,p,a{
  color: white !important;
}
.usr{
  width: 100%;
  text-align: center;
  background:rgba(0, 0, 0, 0.28) !important;
}
.searchuser{
  height: 60px;
  margin-top: 4px !important;  
  background-color: #350263;
}

/* edit profile modal */
.modal-footer{
  background-color:#2f0161 !important;
}
.modal-content{
  background-color: #5e308a;
}
.gen input{
  color:white !important;
}

/* Download dialog */
.downcard_content{
  text-align: center !important;
}
#download_dialog{
  width:80%;
}
.down-footer{
  background-color:#5e308a !important;
  border-radius:0px !important;
}
.down-content{
  background-color: white !important;
  border-radius:0px !important;
}
.closebtn{
  border-radius: 0px !important;
}
.ava{
  display: inline-block;
  width:80px !important;
  height: 70px !important;
}
.dropdown-content.select-dropdown{
  width:500px !important;
}
.downarea{
  background-color: #5e308a !important;
}

#downOwner{
    font-weight: bold;
    margin-left: 20px;
    color: white !important;
    font-size: 20px;

}
.cattt .select-wrapper .select-dropdown.dropdown-trigger{
  color:white !important;
}
.dwnwallsite .carousel-item{
  height:auto !important;
}
.carousel{
  height:250px !important;
}
.plusbtn{
  background-color:purple;
}
.redz{
  background-color: red;
  opacity: 1 !important;
  z-index:20;
}